<form>{% csrf_token %}
    <div class="form-group">
      <label for="exampleInputAuthorName">Email address</label>
      <input type="name" class="form-control" id="exampleInputAuthorName" aria-describedby="nameHelp" placeholder="Enter author name and surname">
      <small id="nameHelp" class="form-text text-muted">please do not create an fake authors.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputDate">date of birth</label>
      <input type="dateOfBirth" class="form-control" id="exampleInputDate" placeholder="Date of birth">
      <small id="dateHelp" class="form-text text-muted">like 01-31-2021.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputDate">date of death</label>
        <input type="dateOfDeath" class="form-control" id="exampleInputDate" placeholder="Date of death">
        <small id="dateHelp" class="form-text text-muted">if author alive enter "Null".</small>
    </div>
    <button type="submit" formmethod="POST" class="btn btn-primary">Submit</button>
  </form>